JWT_SECRET = 'some hard to guess string'
NODE_ENV = 'NODE_ENV'

MONGO_DB_CONNECT_STRING = 'CONNECT_STRING'

SENDGRID_API_KEY = 'SENDGRID_API_KEY'

SENTRY_DSN = 'SENTRY_DSN'

STRIPE_SECRET_KEY = "STRIPE_SECRET_KEY"
STRIPE_ACCOUNT_WEBHOOK_SECRET = "STRIPE_ACCOUNT_WEBHOOK_SECRET"
STRIPE_CONNECT_WEBHOOK_SECRET = "STRIPE_CONNECT_WEBHOOK_SECRET"












